@use "@angular/material" as mat;
@include mat.core();
$light-teal-primary: mat.define-palette(mat.$teal-palette, 400);
$light-pink-accent: mat.define-palette(mat.$pink-palette, A100);

$light-pink-warn: mat.define-palette(mat.$red-palette);

// 定義整個主題
$theme: mat.define-light-theme(
    (
        color: (
            primary: $light-teal-primary,
            accent: $light-pink-accent,
            warn: $light-pink-warn
        ),
        typography: mat.define-typography-config(),
        density: 0
    )
);

:root {
    --ng-theme-primary: #{mat.get-theme-color($theme, primary, 400)};
    --ng-theme-accent: #{mat.get-theme-color($theme, accent, 400)};
    --ng-theme-warn: #{mat.get-theme-color($theme, warn, 400)};
}
// 將主題應用到 Angular Material 元件
@include mat.all-component-themes($theme);

// @tailwind base;
// @tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-mat-dialog {
    max-width: 80vw;
    max-height: 80vh;

    .admin-form-header {
        color: white;
        background: var(--ng-theme-primary);
        h2 {
            margin: 0;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
        box-shadow: 0px 2px 2px #6c6c6c80;
        padding: 8px 0;
    }

    .admin-form-content {
        $padding: 10px;
        padding: $padding;
        max-width: calc(100% - 2 * $padding);
        flex-grow: 1;
        overflow: auto;
        form {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            height: fit-content;
        }
    }

    .admin-form-action {
        padding: 10px 6px;
        display: inline-flex;
        justify-content: flex-end;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #c6c6c6;
}

::-webkit-scrollbar-thumb {
    background: #38894c;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2e782e;
}

.admin-table {
    thead {
        // --mat-table-background-color: pink;
        .mat-mdc-header-cell {
            background: #deecf6;
        }
    }
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #26a69a;
    --mdc-protected-button-label-text-color: rgb(255, 255, 255);
    --mat-protected-button-state-layer-color: black;
    --mat-protected-button-ripple-color: rgba(0, 0, 0, 0.1);
}