// @import url("~/utils/scss/breakpoint.scss");
@import "breakpoint";
@import "./product.card.scss";
:host {
  .product-list-container {
    background-color: #ffc107bf;
    padding: 1rem;
    min-height: calc(100vh - 64px - 2rem);
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // gap: 8px;
    column-count: 2;
    column-gap: 10px;
    @include media-breakpoint-up(sm) {
      columns: 3;
    }
    @include media-breakpoint-up(xl) {
      columns: 4;
    }
    @include media-breakpoint-up(xxl) {
      columns: 5;
    }
  }

  @include product-card-style();
  .cart {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    padding: 1rem;
    border-radius: 50%;
    background-color: black;
    box-shadow: 2px 2px 4px oklch(0.64 0 0);
    z-index: 99;
    cursor: pointer;
    &:hover {
      filter: brightness(0.9);
    }
    .mat-badge-content {
      --mat-badge-legacy-container-size: 16px;
    }
    .cart-icon-container {
      display: flex;
    }
  }
}
