<mat-card *ngIf="product" class="product">
    <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>
            <div class="desc">
                {{ product.description }}
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
        <img [src]="product.img" alt="">
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <span class="price">${{product.price}}</span>
        <button mat-button color="warn" (click)="dialogRef.close()">關閉</button>
    </mat-card-actions>
</mat-card>