<div class="admin-form-header admin-form-header__product">
    <h2>{{isEdit ? 'Edit' : 'Add'}} Product</h2>
</div>
<div class="admin-form-content admin-form-content__product">
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Product name</mat-label>
            <input matInput placeholder="name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="0" formControlName="price">
            <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
        <mat-form-field class="max-w-full w-full">
            <mat-label>Description</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cols="200" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="w-full">
            <mat-label>upload image</mat-label>
            <input matInput #fn name="img" type="text" (click)="imgInput.click()" placeholder="choose file"
                [value]="$any(imgInput.files![0])?.name" readonly>
            <input type="file" #imgInput class="hidden" (change)="cd.detectChanges();selectFiles($event)">
        </mat-form-field>
    </form>
</div>
<div class="admin-form-action">
    @if (isEdit){
    <button mat-raised-button color="primary">儲存</button>
    } @else {
    <button mat-raised-button color="primary" (click)="onClickedAddProduct()">新增</button>
    }
</div>